<div id="<%= dom_id tool %>">
  <p>
    <strong>Name:</strong>
    <%= tool.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tool.description %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= tool.short_name %>
  </p>

</div>
