<h1>Delete "<%= @video.name %>" zip file</h1>


<div>
  <%= button_to "Destroy this zip", @video, method: :delete , data: { confirm: "Are you sure?" } , class: "btn btn-danger" %>
  <br>
  <%= button_to "Back", videos_path,  method: :get, class: "btn btn-warning" %>

</div>
