<p>MULTIDATA is an online platform for the study of multimodal communication. We offer an AI-based pipeline to analyze speech and gesture data from videos, as well as other resources for developing audiovisual collections and exploiting them for education, research, and professional applications. </p>
<p>The MULTIDATA team is constantly integrating the most relevant open-source tools, or developing tools of our own.</p>
<p>How to join us? Click <b>Log in</b> (upper right corner) to create your account.</p>

<div class="d-flex justify-content-center">
    <%= image_tag "portada.png", alt: "Data Pipeline", class: "img-fluid rounded" %>
</div>