<p>Free online platform with an open-source multimodal processing pipeline to analyze speech and gesture data from videos</p>
<p>How to join us? Click <b>Log in</b> (upper right corner) to create your account.</p>

<div class="d-flex justify-content-center">
    <%= image_tag "portada.png", alt: "Data Pipeline", class: "img-fluid rounded" %>
</div>