<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body><h2>MULTIDATA pipeline status update:</h2>
<p>
Your task status has changed to <b><%= @status %></b>.
</p>
Best,
MULTIDATA support team
</body>
</html>
