<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.email %>,</h1>
    <h2>Daedalus pipeline status update</h2>
    <p>
      Your task has changed status to <b><%= @status %></b>.
    </p>
    Have a good day!
  </body>
</html>
