<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body><h3>MULTIDATA pipeline status update:</h3>
<p>
Your task status has changed to <b><%= @status %></b>.
</p>
<p>Best,</p>
MULTIDATA support team
</body>
</html>
